<app-navbar></app-navbar>

<div class="form-bg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col">
        <div class="form-container">
          <h3 *ngIf="task != null" class="title">{{ task.name }}</h3>
          <h3 *ngIf="task == null" class="title">Task</h3>
          <form
            class="form-horizontal"
            #form="ngForm"
            (ngSubmit)="onSubmit(form)"
          >
            <div class="form-group">
              <label>Name</label>
              <input
                *ngIf="task != null"
                name="name"
                type="text"
                class="form-control"
                placeholder="Nome do Projecto"
                [value]="task.name"
                [(ngModel)]="task.name"
              />
              <input
                *ngIf="task == null"
                name="name"
                type="text"
                class="form-control"
                placeholder="Task"
              />
            </div>
            <div class="form-group">
              <label>Deadline</label>
              <div class="input-group mb-3">
                <input
                  *ngIf="task != null"
                  name="deadline"
                  type="datetime-local"
                  [value]="task.deadline"
                  [(ngModel)]="task.deadline"
                />
                <input
                *ngIf="task == null"
                name="deadline"
                type="datetime-local"
              />
              </div>
            </div>
            <div class="form-group">
              <label>State</label>
              <div class="input-group mb-3">
                <select name="state" class="custom-select" [(ngModel)]="task.state">
                  <option *ngFor="let enum of statesTaskKeys" [value]= "enum">{{ statesTask[enum] }}</option>
                </select>
              </div>
            </div>
            <span class="signin-link"></span>
            <button class="btn signup">Edit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
