<mat-dialog-content class="mat-typography">
  <div class="form-bg">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col">
          <div class="form-container no-shadow">
            <h3 *ngIf="task != null" class="title">{{ task.name }}</h3>
            <h3 *ngIf="task == null" class="title">Task</h3>
            <form
              class="form-horizontal"
              #form="ngForm"
              (ngSubmit)="onSubmit(form)"
            >
              <div class="form-group">
                <label>{{ "task.name" | translate }}</label>
                <input
                  *ngIf="task != null"
                  name="name"
                  type="text"
                  class="form-control"
                  disabled="userRole != Roles.Manager"
                  placeholder="{{ 'task.taskName' | translate }}"
                  [value]="task.name"
                  [(ngModel)]="task.name"
                />
              </div>
              <div class="form-group">
                <label>{{ "task.deadline" | translate }}</label>
                <div class="input-group mb-3">
                  <input
                    *ngIf="task != null"
                    name="deadline"
                    type="datetime-local"
                    class="form-control"
                    disabled="userRole != Roles.Manager"
                    [value]="task.deadline"
                    [(ngModel)]="task.deadline"
                  />
                </div>
              </div>
              <div class="form-group">
                <label>{{ 'users.programmer' | translate }}</label>
                <div class="input-group mb-3">
                  <select name="programmerID" class="form-control" [(ngModel)]="task.programmer">
                    <option *ngFor="let programmer of programmers" [value]= "programmer.userName">
                      {{ programmer.userName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label>{{ "task.status" | translate }}</label>
                <div class="input-group mb-3">
                  <select
                    *ngIf="task != null"
                    name="state"
                    class="form-control"
                    [(ngModel)]="task.state"
                  >
                    <option *ngFor="let enum of statesTaskKeys" [value]="enum">
                      {{ "states." + enum | translate }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="d-flex flex-row-reverse">
                <button class="btn btn-primary">
                  {{ "dashboard.edit" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center" *ngIf="comments">
    <div class="col">
      <div class="form-container no-shadow">
        <h3 class="title">{{ "dashboard.commentarys" | translate }}</h3>
          <form
          class="form-horizontal"
          #form="ngForm"
          (ngSubmit)="comment(form)"
        >
        <div class="form-group" *ngFor="let comment of comments">
          <label>{{ comment.writer.userName }}</label>
          <span *ngIf="task != null" class="form-control">{{
            comment.content
          }}</span>
        </div>
          <div class="form-group">
            <label>{{ "dashboard.newCommentary" | translate }}</label>
            <textarea
              id="content"
              name="content"
              class="form-control"
              rows="4"
              cols="50"
              [(ngModel)]="newComments.content"
            ></textarea>
          </div>
          <div class="d-flex flex-row-reverse">
            <button class="btn btn-primary">
              {{ "dashboard.comment" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
