<app-navbar></app-navbar>

<div class="form-bg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <div class="form-container">
          <h3 class="title" *ngIf="project != undefined">{{ project.name }}</h3>
          <h3 class="title" *ngIf="project == undefined">
            {{ "project.name" | translate }}
          </h3>
          <form
            class="form-horizontal"
            #form="ngForm"
          >
            <div class="form-group">
              <label>{{ "project.name" | translate }}</label>
              <input
                *ngIf="project != undefined"
                name="name"
                type="text"
                class="form-control"
                placeholder="Nome do Projecto"
                [value]="project.name"
                [(ngModel)]="project.name"
              />
              <span *ngIf="project == undefined" class="form-control">{{
                "project.name" | translate
              }}</span>
            </div>
            <div class="form-group">
              <label>{{ "project.budget" | translate }}</label>
              <input
                *ngIf="project != undefined"
                name="budget"
                type="number"
                min="0"
                step="0.01"
                class="form-control"
                placeholder="Budget"
                [value]="project.budget"
                [(ngModel)]="project.budget"
              />
              <span *ngIf="project == undefined" class="form-control">{{
                "project.budget" | translate
              }}</span>
            </div>
            <div class="form-group">
              <label>{{ "project.status" | translate }}</label>
              <div class="input-group mb-3">
                <select
                  *ngIf="project != undefined"
                  name="state"
                  class="form-control"
                  [(ngModel)]="project.state"
                >
                  <option *ngFor="let enum of statesProjectKeys" [value]="enum">
                    {{ "states." + enum | translate }}
                  </option>
                </select>
                <span *ngIf="project == undefined" class="form-control"></span>
              </div>
            </div>
            <div class="d-flex flex-row-reverse">
              <button class="btn btn-primary"
              (click)="openDialogEditProject(project.name, project.id)">
                {{ "dashboard.edit" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col">
        <div class="form-container">
          <div class="row d-flex justify-content-center">
            <div class="col">
              <h3 class="title">{{ "dashboard.tasks" | translate }}</h3>
            </div>
            <div class="col">
              <input
                class="form-control"
                name="search"
                type="text"
                class="form-control"
                placeholder="Search"
                [(ngModel)]="searchString"
                (keyup)="onSearch(searchString)"
              />
            </div>
          </div>
          <div class="form-group">
            <table class="table">
              <thead>
                <tr>
                  <th>{{ "task.name" | translate }}</th>
                  <th>{{ "task.project" | translate }}</th>
                  <th>{{ "users.programmer" | translate }}</th>
                  <th>{{ "task.status" | translate }}</th>
                  <th>{{ "task.options" | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasks">
                  <td>
                    {{ task.name }}
                  </td>
                  <td>
                    {{ task.project.name }}
                  </td>
                  <td>{{ task.programmer.userName }}</td>
                  <td>
                    <span *ngIf="task.state == 0" class="badge bg-primary">{{
                      "states." + task.state | translate
                    }}</span>
                    <span *ngIf="task.state == 1" class="badge bg-warning">{{
                      "states." + task.state | translate
                    }}</span>
                    <span *ngIf="task.state == 2" class="badge bg-success">{{
                      "states." + task.state | translate
                    }}</span>
                    <span *ngIf="task.state == 3" class="badge bg-danger">{{
                      "states." + task.state | translate
                    }}</span>
                  </td>
                  <td>
                    <button
                      class="btn btn-outline-success me-2"
                      (click)="openDialogTask(task.id)"
                    >
                      {{ "dashboard.view" | translate }}
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn btn-outline-danger"
                      (click)="openDialogDeleteTask(task.name, task.id)"
                    >
                      {{ "dashboard.delete" | translate }}
                    </button>
                  </td>
                </tr>
              </tbody>
              <!--
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
              -->
            </table>
          </div>
          <div class="d-flex flex-row-reverse">
            <button
              class="btn btn-primary add-new"
              (click)="openDialogNewTask()"
            >
              {{ "dashboard.addNew" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
