<app-navbar></app-navbar>

<div class="form-bg">
  <div
    class="container"
    *ngIf="roleUser != Roles.Programmer && roleUser == Roles.Manager"
  >
    <div class="row d-flex justify-content-center">
      <div class="col">
        <div class="form-container">
          <div class="row justify-content-between">
            <div class="col">
              <h3 class="title">Tasks</h3>
            </div>
            <div class="col-3">
              <input
                class="form-control"
                name="search"
                type="text"
                class="form-control"
                placeholder="Search"
                [(ngModel)]="searchString"
                (keyup)="onSearch(searchString)"
              />
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn btn-primary add-new"
                (click)="newTask()"
              >
                {{ "dashboard.addNew" | translate }}
              </button>
            </div>
          </div>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ "task.name" | translate }}</th>
                    <th>{{ "task.project" | translate }}</th>
                    <th>{{ "users.programmer" | translate }}</th>
                    <th>{{ "task.status" | translate }}</th>
                    <th>{{ "task.options" | translate }}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let task of tasks
                        | slice: (page - 1) * pageSize:page * pageSize
                    "
                  >
                    <td>{{ task.name }}</td>
                    <td>
                      {{ task.project.name }}
                    </td>
                    <td>{{ task.programmer.userName }}</td>
                    <td>
                       <span [ngClass]="badges[task.state]">{{ "states." + task.state | translate }}
                      </span>
                    </td>
                    <td>
                      <button
                        class="btn btn-outline-success me-2"
                        (click)="openDialogTask(task.id)"
                      >
                        {{ "dashboard.view" | translate }}
                      </button>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-outline-danger"
                        (click)="openDialog(task.name, task.id)"
                      >
                        {{ "dashboard.delete" | translate }}
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="originalTasks.length == 0 && errorTask.error == false && errorTask.done == false ">
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination
              [(page)]="page"
              [pageSize]="pageSize"
              [collectionSize]="tasks.length"
            ></ngb-pagination>
              <div
                *ngIf="errorTask.error == true"
                class="alert alert-danger text-center"
                role="alert"
              >
                Error Server
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container"
    *ngIf="roleUser == Roles.Programmer || roleUser != Roles.Manager"
  >
    <div class="row d-flex justify-content-center">
      <div class="col">
        <div class="form-container">
          <div class="row justify-content-between">
            <div class="col">
              <h3 class="title">Tasks</h3>
            </div>
            <div class="col-3">
              <input
                class="form-control"
                name="search"
                type="text"
                class="form-control"
                placeholder="Search"
                [(ngModel)]="searchString"
                (keyup)="onSearch(searchString)"
              />
            </div>
          </div>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ "task.name" | translate }}</th>
                    <th>{{ "task.project" | translate }}</th>
                    <th>{{ "task.status" | translate }}</th>
                    <th>{{ "task.options" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks">
                    <td>{{ task.name }}</td>
                    <td>
                      {{ task.project.name }}
                    </td>
                    <td>
                       <span [ngClass]="badges[task.state]">{{ "states." + task.state | translate }}
                      </span>
                    </td>
                    <td>
                      <button
                        class="btn btn-outline-success me-2"
                        (click)="openDialogTask(task.id)"
                      >
                        {{ "dashboard.view" | translate }}
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="originalTasks.length == 0 && errorTask.error == false && errorTask.done == false">
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                *ngIf="errorTask.error == true"
                class="alert alert-danger text-center"
                role="alert"
              >
                Error Server
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
