<app-navbar></app-navbar>

<div class="form-bg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col">
        <div class="form-container">
          <div class="row justify-content-between">
            <div class="col">
              <h3 class="title">{{ "dashboard.projects" | translate }}</h3>
            </div>
            <div class="col-3">
              <input
                class="form-control"
                name="search"
                type="text"
                class="form-control"
                placeholder="Search"
                [(ngModel)]="searchString"
                (keyup)="onSearch(searchString)"
                />
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn btn-primary"
                (click)="newProject()">
                {{ "dashboard.addNew" | translate }}
              </button>
            </div>
          </div>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ "project.name" | translate }}</th>
                    <th>{{ "project.budget" | translate }}</th>
                    <th>{{ "project.status" | translate }}</th>
                    <th>{{ "project.options" | translate }}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                    let project of projects
                    | slice: (page - 1) * pageSize:page * pageSize
                    ">
                    <td>
                      {{ project.name }}
                    </td>
                    <td>{{ project.budget }}€</td>
                    <td>
                      <span
                        [ngClass]="Badges[project.state]">{{ "states." +
                        project.state | translate }}
                      </span>
                    </td>
                    <td>
                      <a [routerLink]="['/projects', project.id]"><button
                          type="button" class="btn btn-success me-2">
                          {{ "dashboard.view" | translate }}
                        </button></a>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-outline-danger"
                        (click)="openDialog(project.name, project.id)">
                        {{ "dashboard.delete" | translate }}
                      </button>
                    </td>
                  </tr>
                  <tr
                    *ngIf="
                    originalProjects.length == 0 &&
                    errorProjects.error == false &&
                    errorProjects.done == false
                    ">
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination
                *ngIf="errorProjects.done == true && projects.length != 0"
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="projects.length"></ngb-pagination>
              <div
                *ngIf="errorProjects.error == true"
                class="alert alert-danger text-center"
                role="alert">
                {{ "error." + errorProjects.status | translate }}
              </div>
              <div
                *ngIf="errorProjects.done == true && errorProjects.error == false && projects.length == 0"
                class="alert alert-warning text-center"
                role="alert">
                {{ "project.withoutProjects" | translate }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
