<app-navbar></app-navbar>

<div class="form-bg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col">
        <div class="form-container">
          <div class="row justify-content-between">
            <div class="col">
              <h3 class="title">{{ 'dashboard.projects' | translate }}</h3>
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn btn-primary add-new"
                [routerLink]="'/newProjects'"
              >
              {{ 'dashboard.addNew' | translate }}
              </button>
            </div>
          </div>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>{{ 'project.name' | translate }}</th>
                    <th>{{ 'project.budget' | translate }}</th>
                    <th>{{ 'project.status' | translate }}</th>
                    <th>{{ 'project.options' | translate }}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of projects">
                    <td>
                        {{ project.id }}
                    </td>
                    <td>
                        {{ project.name }}
                    </td>
                    <td>{{ project.budget }}€</td>
                    <td>
                      <span *ngIf="project.state == 0" class="badge bg-primary">{{ ("states." + project.state) | translate}}</span>
                      <span *ngIf="project.state == 1" class="badge bg-warning">{{ ("states." + project.state) | translate}}</span>
                      <span *ngIf="project.state == 2" class="badge bg-success">{{ ("states." + project.state) | translate}}</span>
                      <span *ngIf="project.state == 3" class="badge bg-danger">{{ ("states." + project.state) | translate}}</span>
                    </td>
                    <td>
                      <a [routerLink]="['/projects', project.id]"
                        ><button
                          type="button"
                          class="btn btn-outline-success me-2"
                        >
                        {{ 'dashboard.edit' | translate }}
                        </button></a
                      >
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-outline-danger"
                        (click)="onDelete(project.id)"
                      >
                      {{ 'dashboard.delete' | translate }}
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="projects.length == 0 && errorProjects == false">
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="errorProjects == true" class="alert alert-danger text-center" role="alert">
                Error Server
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
