<div class="form-bg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-5">
        <div class="form-container">
          <h3 class="title">{{ "users.programmer" | translate }}</h3>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <label>{{ "users.username" | translate }}</label>
              <span *ngIf="userInfo == null" class="form-control">{{ "users.username" | translate }}</span>
              <input *ngIf="userInfo != null" disabled="true" class="form-control" [value]="userInfo.userName"/>
            </div>
            <div class="form-group">
              <label>{{ "users.email" | translate }}</label>
              <span *ngIf="userInfo == null" class="form-control">{{ "users.email" | translate }}</span>
              <input *ngIf="userInfo != null" disabled="true" class="form-control" [value]="userInfo.email"/>
            </div>
          </form>
        </div>
      </div>
      <div class="col">
        <div class="form-container">
          <h3 class="title">{{ "dashboard.tasks" | translate }}</h3>
          <div class="form-group">
            <table class="table">
              <thead>
                <tr>
                  <th>{{ "task.name" | translate }}</th>
                  <th>{{ "task.project" | translate }}</th>
                  <th>{{ "task.status" | translate }}</th>
                  <th>{{ "task.options" | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasks | slice: (page - 1) * pageSize:page * pageSize">
                  <td>{{ task.name }}</td>
                  <td>
                    {{ task.project.name }}
                  </td>
                  <td>
                    <span class="badge bg-default" [ngClass]="{
                      'bg-primary': task.state === 0,
                      'bg-warning': task.state === 1,
                      'badge bg-success': task.state === 2,
                      'bg-danger': task.state === 3
                      }">{{ "states." + task.state | translate }}
                    </span>
                  </td>
                  <td>
                    <button type="button" class="btn btn-success me-2" (click)="openDialogTask(task.id)">
                      {{ "dashboard.view" | translate }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="tasks.length"
          ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
