<app-navbar></app-navbar>

<div class="form-bg">
  <div
    class="container"
    *ngIf="roleUser != Roles.Programmer && roleUser == Roles.Manager"
  >
    <div class="row d-flex justify-content-center">
      <div class="col">
        <div class="form-container">
          <div class="row justify-content-between">
            <div class="col">
              <h3 class="title">{{ "dashboard.projects" | translate }}</h3>
            </div>
            <div class="col-3">
              <button
                type="button"
                class="btn btn-primary"
                [routerLink]="'/projects'"
              >
                {{ "dashboard.viewAll" | translate }}
              </button>
            </div>
          </div>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ "project.name" | translate }}</th>
                    <th>{{ "project.budget" | translate }}</th>
                    <th>{{ "project.status" | translate }}</th>
                    <th>{{ "project.options" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of projects | slice: (pageProject - 1) * pageSize:pageProject * pageSize">
                    <td>{{ project.name }}</td>
                    <td>{{ project.budget }}€</td>
                    <td>
                      <span [ngClass]="Badges[project.state]">{{ "states." + project.state | translate }}
                      </span>
                    </td>
                    <td >
                      <a [routerLink]="['/projects', project.id]"
                        ><button type="button" class="btn btn-success me-2">
                          {{ "dashboard.view" | translate }}
                        </button></a
                      >
                    </td>
                  </tr>
                  <tr *ngIf="projects.length == 0 && errorProgrammers.error == false  && errorProgrammers.done == false">
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination *ngIf="projects.length != 0 && errorProjects.error == false && errorProjects.done == true">
              [(page)]="pageProject"
              [pageSize]="pageSize"
              [collectionSize]="projects.length"
            ></ngb-pagination>
              <div
                *ngIf="errorProjects.error == true"
                class="alert alert-danger text-center"
                role="alert"
              >
              {{ "error.serverDown" | translate }}
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-container">
          <div class="row justify-content-between">
            <div class="col">
              <h3 class="title">{{ "dashboard.tasks" | translate }}</h3>
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-primary add-new"
                [routerLink]="'/tasks'"
              >
                {{ "dashboard.viewAll" | translate }}
              </button>
            </div>
          </div>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ "task.name" | translate }}</th>
                    <th>{{ "task.project" | translate }}</th>
                    <th>{{ "task.status" | translate }}</th>
                    <th>{{ "task.options" | translate }}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks | slice: (pageTask - 1) * pageSize:pageTask * pageSize">
                    <td >{{ task.name }}</td>
                    <td >
                      {{ task.project.name }}
                    </td>
                    <td >
                      <span [ngClass]="Badges[task.state]">{{"states." + task.state | translate }}
                      </span>
                    </td>
                    <td >
                      <button
                        type="button"
                        class="btn btn-success me-2"
                        (click)="openDialogTask(task.id)"
                      >
                        {{ "dashboard.view" | translate }}
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="tasks.length == 0 && errorTask.error == false  && errorTask.done == false">
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination *ngIf="tasks.length != 0 && errorTask.error == false  && errorTask.done == true"
              [(page)]="pageTask"
              [pageSize]="pageSize"
              [collectionSize]="tasks.length"
            ></ngb-pagination>
              <div
                *ngIf="errorTask.error == true"
                class="alert alert-danger text-center"
                role="alert"
              >
              {{ "error.serverDown" | translate }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-3 mt-4 mb-5">
        <div class="form-container">
          <h3 class="title">{{ "users.programmers" | translate }}</h3>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ "users.username" | translate }}</th>
                    <th>{{ "users.options" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let programmer of programmers | slice: (pageProgrammers - 1) * pageSize:pageProgrammers * pageSize">
                    <td>
                      {{ programmer.userName }}
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-success me-2"
                        (click)="openDialogProgrammer(programmer.userName)"
                      >
                        {{ "dashboard.view" | translate }}
                      </button>
                    </td>
                  </tr>
                  <tr
                    *ngIf="programmers.length == 0 && errorProgrammers.error == false && errorProgrammers.done == false"
                  >
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination *ngIf="programmers.length != 0 && errorProgrammers.error == false && errorProgrammers.done == true"
              [(page)]="pageProgrammers"
              [pageSize]="pageSize"
              [collectionSize]="programmers.length"
            ></ngb-pagination>
              <div
                *ngIf="errorProgrammers.error == true"
                class="alert alert-danger text-center"
                role="alert"
              >
              {{ "error.serverDown" | translate }}
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5 mt-4 mb-4">
        <div class="form-container">
          <h3 class="title">{{ "dashboard.calendar" | translate }}</h3>
          <!--<mat-calendar></mat-calendar>-->
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <div *ngFor="let task of calendar| slice: 0:pageSize">
                <div class="form-group">
                  <a (click)="openDialogTask(task.id)">
                  <span class="form-control">
                    <div class="row d-flex justify-content-between">
                      <div class="col">
                        <h3>
                          {{ task.deadline | date: "dd" }}
                        </h3>
                        {{ task.deadline | date: "MM y" }}
                      </div>
                      <div class="col">
                        {{ task.name }}
                      </div>
                    </div>
                  </span>
                </a>
                </div>
              </div>
              <div
                *ngIf="errorTask.error == true"
                class="alert alert-danger text-center"
                role="alert"
              >
              {{ "error.serverDown" | translate }}
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="form-container">
          <h3 class="title">Stats</h3>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <span class="badge bg-primary">{{
                        "states.0" | translate
                      }}</span>
                    </th>
                    <th>
                      <span class="badge bg-warning">{{
                        "states.1" | translate
                      }}</span>
                    </th>
                    <th>
                      <span class="badge bg-success">{{
                        "states.2" | translate
                      }}</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ projects.length }}</td>
                    <td>{{ tasks.length }}</td>
                    <td>{{ programmers.length }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container"
    *ngIf="roleUser == Roles.Programmer || roleUser != Roles.Manager"
  >
    <div class="row d-flex justify-content-center">
      <div class="col">
        <div class="form-container">
          <h3 class="title">{{ "task.myTasks" | translate }}</h3>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ "task.name" | translate }}</th>
                    <th>{{ "task.project" | translate }}</th>
                    <th>{{ "task.status" | translate }}</th>
                    <th>{{ "task.options" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks">
                    <td>{{ task.name }}</td>
                    <td>{{ task.project.name }}</td>
                    <td>
                       <span [ngClass]="Badges[task.state]">{{ "states." + task.state | translate }}
                      </span>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-success me-2"
                        (click)="openDialogTask(task.id)"
                      >
                        {{ "dashboard.view" | translate }}
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="tasks.length == 0 && errorTask.error == false && errorTask.done == false">
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                    <td>
                      <span
                        class="spinner-grow spinner-grow-sm"
                        role="status"
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                *ngIf="errorTask.error == true"
                class="alert alert-danger text-center"
                role="alert"
              >
              {{ "error.serverDown" | translate }}
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-container">
          <h3 class="title">Stats</h3>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <span class="badge bg-primary">{{
                        "states.0" | translate
                      }}</span>
                    </th>
                    <th>
                      <span class="badge bg-warning">{{
                        "states.1" | translate
                      }}</span>
                    </th>
                    <th>
                      <span class="badge bg-success">{{
                        "states.2" | translate
                      }}</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ stats.toStart }}</td>
                    <td>{{ stats.inWork }}</td>
                    <td>{{ stats.done }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
