<app-navbar></app-navbar>

<div class="form-bg">
  <div
    class="container"
    *ngIf="roleUser != 'Programmer' && roleUser == 'Manager'"
  >
    <div class="row d-flex justify-content-center">
      <div class="col">
        <div class="form-container">
          <div class="row justify-content-between">
            <div class="col">
              <h3 class="title">{{ 'dashboard.projects' | translate }}</h3>
            </div>
            <div class="col-3">
              <button
                type="button"
                class="btn btn-primary add-new"
                [routerLink]="'/projects'"
              >
                {{ 'dashboard.viewAll' | translate }}
              </button>
            </div>
          </div>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ 'project.name' | translate }}</th>
                    <th>{{ 'project.budget' | translate }}</th>
                    <th>{{ 'project.status' | translate }}</th>
                    <th>{{ 'project.options' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of projects; let i = index;">
                    <td *ngIf="i < 3">{{ project.name }}</td>
                    <td *ngIf="i < 3">{{ project.budget }}€</td>
                    <td *ngIf="i < 3">
                      <span *ngIf="project.state == 0" class="badge bg-primary">{{ ("states." + project.state) | translate}}</span>
                      <span *ngIf="project.state == 1" class="badge bg-warning">{{ ("states." + project.state) | translate}}</span>
                      <span *ngIf="project.state == 2" class="badge bg-success">{{ ("states." + project.state) | translate}}</span>
                      <span *ngIf="project.state == 3" class="badge bg-danger">{{ ("states." + project.state) | translate}}</span>
                    </td>
                    <td *ngIf="i < 3">
                      <a [routerLink]="['/projects', project.id]"
                        ><button
                          type="button"
                          class="btn btn-success me-2"
                        >
                        {{ 'dashboard.view' | translate }}
                        </button></a
                      >
                    </td>
                  </tr>
                  <tr *ngIf="projects.length == 0 && errorProjects == false">
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="errorProjects == true" class="alert alert-danger text-center" role="alert">
                Error Server
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-container">
          <div class="row justify-content-between">
            <div class="col">
              <h3 class="title">{{ 'dashboard.tasks' | translate }}</h3>
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-primary add-new"
                [routerLink]="'/tasks'"
              >
                {{ 'dashboard.viewAll' | translate }}
              </button>
            </div>
          </div>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ 'task.name' | translate }}</th>
                    <th>{{ 'task.project' | translate }}</th>
                    <th>{{ 'task.status' | translate }}</th>
                    <th>{{ 'task.options' | translate }}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks; let i = index;">
                    <td *ngIf="i < 3">{{ task.name }}</td>
                    <td *ngIf="i < 3">
                      {{ task.project.name }}
                    </td>
                    <td *ngIf="i < 3">
                      <span *ngIf="task.state == 0" class="badge bg-primary">{{ ("states." + task.state) | translate}}</span>
                      <span *ngIf="task.state == 1" class="badge bg-warning">{{ ("states." + task.state) | translate}}</span>
                      <span *ngIf="task.state == 2" class="badge bg-success">{{ ("states." + task.state) | translate}}</span>
                      <span *ngIf="task.state == 3" class="badge bg-danger">{{ ("states." + task.state) | translate}}</span>
                    </td>
                    <td *ngIf="i < 3">
                      <a [routerLink]="['/tasks', task.id]"
                        ><button
                          type="button"
                          class="btn btn-success me-2"
                        >
                        {{ 'dashboard.view' | translate }}
                        </button></a
                      >
                    </td>
                  </tr>
                  <tr *ngIf="tasks.length == 0 && errorTask == false">
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="errorTask == true" class="alert alert-danger text-center" role="alert">
                Error Server
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 mt-4">
        <div class="form-container">
          <h3 class="title">{{ 'users.programmers' | translate }}</h3>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ 'users.username' | translate }}</th>
                    <th>{{ 'users.options' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let programmer of programmers">
                    <td>
                      {{ programmer.userName }}
                    </td>
                    <td>
                      <a [routerLink]="['/user/programmer', programmer.userName]">
                      <button
                        type="button"
                        class="btn btn-success me-2"
                      >
                      {{ 'dashboard.view' | translate }}
                      </button>
                    </a>
                    </td>
                  </tr>
                  <tr *ngIf="programmers.length == 0 && errorProgrammers == false">
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="errorProgrammers == true" class="alert alert-danger text-center" role="alert">
                Error Server
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="form-container">
          <h3 class="title">{{ 'users.managers' | translate }}</h3>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ 'users.username' | translate }}</th>
                    <th>{{ 'users.options' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let manager of managers">
                    <td>
                      {{ manager.userName }}
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-success me-2"
                      >
                      {{ 'dashboard.view' | translate }}
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="managers.length == 0 && errorManagers == false">
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="errorManagers == true" class="alert alert-danger text-center" role="alert">
                Error Server
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="form-container">
          <h3 class="title">Stats</h3>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>Projects</th>
                    <th>Tasks</th>
                    <th>Programmers</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ projects.length }}</td>
                    <td>{{ tasks.length }}</td>
                    <td>{{ programmers.length }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container"
    *ngIf="roleUser == 'Programmer' || roleUser != 'Manager'"
  >
    <div class="row d-flex justify-content-center">
      <div class="col">
        <div class="form-container">
          <h3 class="title">{{ 'task.myTasks' | translate }}</h3>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ 'task.name' | translate }}</th>
                    <th>{{ 'task.project' | translate }}</th>
                    <th>{{ 'task.status' | translate }}</th>
                    <th>{{ 'task.options' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks">
                    <td>{{ task.name }}</td>
                    <td>{{ task.project.name }}</td>
                    <td>
                        <span *ngIf="task.state == 0" class="badge bg-primary">{{ ("states." + task.state) | translate}}</span>
                        <span *ngIf="task.state == 1" class="badge bg-warning">{{ ("states." + task.state) | translate}}</span>
                        <span *ngIf="task.state == 2" class="badge bg-success">{{ ("states." + task.state) | translate}}</span>
                        <span *ngIf="task.state == 3" class="badge bg-danger">{{ ("states." + task.state) | translate}}</span>
                    </td>
                    <td>
                      <a [routerLink]="['/tasks', task.id]"
                        ><button
                          type="button"
                          class="btn btn-success me-2"
                        >
                        {{ 'dashboard.view' | translate }}
                        </button></a
                      >
                    </td>
                  </tr>
                  <tr *ngIf="tasks.length == 0 && errorTask == false">
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                    <td><span class="spinner-grow spinner-grow-sm" role="status"></span></td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="errorTask == true" class="alert alert-danger text-center" role="alert">
                Error Server
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-container">
          <h3 class="title">Stats</h3>
          <form class="form-horizontal" #form="ngForm">
            <div class="form-group">
              <table class="table">
                <thead>
                  <tr>
                    <th><span class="badge bg-success">Done</span></th>
                    <th><span class="badge bg-warning">In Work</span></th>
                  </tr>
                </thead>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
