<app-navbar></app-navbar>

<div class="form-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="form-container">
          <h3 class="title">New Task</h3>
          <form
            class="form-horizontal"
            #form="ngForm"
            (ngSubmit)="onSubmit(form)"
          >
            <div class="form-group">
              <label>Name</label>
              <input
                name="username"
                type="text"
                class="form-control"
                placeholder="Nome da Task"
                [(ngModel)]="newTask.name"
              />
            </div>
            <div class="form-group">
              <label>Project</label>
              <div class="input-group mb-3">
                <select name="projectID" class="custom-select" [(ngModel)]="newTask.project.id">
                  <option selected>Choose...</option>
                  <option *ngFor="let project of projects" [value]= "project.id">
                    {{ project.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label>Programmer</label>
              <div class="input-group mb-3">
                <select name="programmerID" class="custom-select" [(ngModel)]="newTask.programmer.userName">
                  <option selected>Choose...</option>
                  <option *ngFor="let programmer of programmers" [value]= "programmer.userName">
                    {{ programmer.userName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label>Deadline</label>
              <div class="input-group mb-3">
                <input name="deadline" type="datetime-local" [(ngModel)]="newTask.deadline"/>
              </div>
            </div>
            <span class="signin-link"></span>
            <button class="btn signup">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
