<div class="form-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <div class="form-container no-shadow">
          <h3 class="title">{{ 'dashboard.newTask' | translate }}</h3>
          <form
            class="form-horizontal"
            #form="ngForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="form-group">
              <label>{{ 'task.name' | translate }}</label>
              <input
                name="username"
                type="text"
                class="form-control"
                placeholder="{{ 'task.name' | translate }}"
                [(ngModel)]="newTask.name"
              />
            </div>
            <div class="form-group">
              <label>{{ 'task.project' | translate }}</label>
              <div class="input-group mb-3">
                <select name="projectID" class="form-control" [(ngModel)]="newTask.idProject">
                  <option *ngFor="let project of projects" [value]= "project.id">
                    {{ project.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'users.programmer' | translate }}</label>
              <div class="input-group mb-3">
                <select name="programmerID" class="form-control" [(ngModel)]="newTask.usernameProgrammer">
                  <option *ngFor="let programmer of programmers" [value]= "programmer.userName">
                    {{ programmer.userName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'task.deadline' | translate }}</label>
              <div class="input-group mb-3">
                <input name="deadline" type="datetime-local" class="form-control" [(ngModel)]="newTask.deadline"/>
              </div>
            </div>
            <span class="signin-link"></span>
            <button class="btn signup">{{ 'dashboard.create' | translate }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
