<app-navbar></app-navbar>

<div class="form-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div
          class="alert alert-danger text-center"
          role="alert"
          *ngIf="errorRegister"
        >
          {{ errorMsg }}
        </div>
        <div class="form-container">
          <h3 class="title">Register</h3>
          <form
            class="form-horizontal"
            #form="ngForm"
            (ngSubmit)="onSubmit(form)"
          >
            <div class="form-group">
              <label>User Name</label>
              <input
                name="username"
                type="text"
                class="form-control"
                placeholder="Username"
                [(ngModel)]="newUser.username"
              />
            </div>
            <div class="form-group">
              <label>Email ID</label>
              <input
                name="email"
                type="email"
                class="form-control"
                placeholder="Email Address"
                [(ngModel)]="newUser.email"
              />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                name="password"
                type="password"
                class="form-control"
                placeholder="Password"
                [(ngModel)]="newUser.password"
              />
            </div>
            <div class="form-group">
              <label>Role</label>
              <div class="row justify-content-center">
                <div class="col">
                  <div class="form-check-inline">
                    <input
                      type="radio"
                      name="isManager"
                      value="false"
                      [(ngModel)]="newUser.isManager"
                    />
                    <label class="form-check-label m-2" for="inlineRadio1"
                      >Programmer</label
                    >
                  </div>
                </div>
                <div class="col">
                  <div class="form-check-inline">
                    <input
                      type="radio"
                      name="isManager"
                      value="true"
                      [(ngModel)]="newUser.isManager"
                    />
                    <label class="form-check-label m-2" for="inlineRadio2"
                      >Manager</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <span class="signin-link"
              >Already have an account? Click here to
              <a [routerLink]="'/login'">Login</a></span
            >
            <button *ngIf="!loading" class="btn signup" >Create Account</button>
            <button *ngIf="loading" class="btn signup" type="button" disabled>
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              Create Account
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
