<app-navbar></app-navbar>

<h1 class="text-center">{{ "about.about" | translate }}</h1>

<div class="container">
    <h3>ON</h3>
      {{ "about.p1" | translate }}
  <ul>
    <li>{{ "users.manager" | translate }}</li>
    <li>{{ "users.programmer" | translate }}</li>
  </ul>

  <h4>{{ "users.managers" | translate }}</h4>
    {{ "about.p2" | translate }}
  <h4>{{ "users.programmers" | translate }}</h4>
    {{ "about.p3" | translate }}
  <h4>{{ "dashboard.projects" | translate }} & {{ "dashboard.tasks" | translate }}</h4>
    {{ "about.p4" | translate }}
</div>
