<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <h4>ON</h4>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-dark">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button *ngIf="userRole == 'Manager | Progammer'" type="button" class="btn btn-outline-primary me-2" [routerLink]="'/login'">Logout</button>
      <button *ngIf="userRole != 'Manager | Progammer'" type="button" class="btn btn-outline-primary me-2" [routerLink]="'/login'">Login</button>
      <button *ngIf="userRole != 'Manager | Progammer'" type="button" class="btn btn-primary" [routerLink]="'/register'">Sign-up</button>
      <button *ngIf="userRole != 'Manager | Progammer'" type="button" class="btn btn-primary" [routerLink]="'/register'">PT</button>

    </div>
  </header>
</div>

<router-outlet></router-outlet>

<div class="footer">
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    OnBoarding - Samuel Pires
  </div>
  <!-- Copyright -->
</footer>
</div>
